@{
    ViewData["Title"] = "Images";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to display the images.</p>


<img src="~/Images/IMG_E9597.JPG" height="500" width="500" asp-append-version="true" />
